.container
    width: 100%
    max-width: 350px

    @media screen and (min-width: 701px)
        max-width: 700px

    @media screen and (min-width: 1051px)
        max-width: 1050px

    @media screen and (min-width: 1401px)
        max-width: 1400px

    margin: auto

    overflow: hidden

    .grid
        width: 100%

        display: grid
        grid-template-columns: 1fr

        @media screen and (min-width: 701px)
            grid-template-columns: 1fr 1fr

        @media screen and (min-width: 1051px)
            grid-template-columns: 1fr 1fr 1fr

        @media screen and (min-width: 1401px)
            grid-template-columns: 1fr 1fr 1fr 1fr

        grid-auto-columns: 25rem

        padding: 10px
        box-sizing: border-box

    .actions
        display: flex
        flex-direction: row
        justify-content: center

        padding: 40px

        .loadMore
            text-transform: uppercase

            font-size: 1.2em

            background-color: var(--text-color)
            color: var(--bg)

            border: solid 1px var(--text-color)
            border-radius: 20px

            padding: 6px 16px

            transition: background-color 0.2s ease, color 0.2s ease

            cursor: pointer
