.link
    text-decoration: none
    color: var(--text-color)

    .card
        cursor: pointer
        overflow: hidden

        background: var(--card-bg)
        border: solid 2px var(--bg)

        margin: 0.5rem
        height: 95%

        transition: border 0.2s ease-in-out

        &:hover
            border: solid 2px var(--border-highlight)

        .thumbnail
            background-size: cover
            background-position: center

            height: 250px

            @media screen and (max-width: 1200px)
                height: 300px

            @media screen and (max-width: 768px)
                height: 350px

            @media screen and (max-width: 600px)
                height: 400px

        .information
            padding: 10px 10px 15px

            .title
                font-size: 1.2em
                margin-bottom: 10px

                .date
                    display: inline-block

                    font-weight: normal
                    font-size: 0.8em

                    background: var(--tag-secondary-bg)
                    color: var(--tag-secondary-text-color)
                    border-radius: 15px

                    padding: 4px 8px
                    margin-left: 10px
                    margin-top: -4px

            .subtitle
                margin-bottom: 15px
