.link
    text-decoration: none
    color: var(--text-color)

    .card
        cursor: pointer
        overflow: hidden

        display: flex
        flex-direction: row

        margin: 0.5rem

        transition: border 0.2s ease-in-out
        border: solid 2px var(--bg)

        &:hover
            border: solid 2px var(--card-border-highlight)

        .information
            flex-basis: 40%
            padding: 20px

            text-shadow: 0px 2px 2px #000

            .title
                font-size: 1.4em
                line-height: 1.1em
                margin-bottom: 10px

            .subtitle
                line-height: 1.1em
                margin-bottom: 15px
                font-weight: 400

        .thumbnail
            background-size: cover
            background-position: center

            height: 15em
            flex-basis: 70%

            transform: rotate(6deg) scale(1.15) translate(1.2em, 0em)

            filter: contrast(110%)
