.link
    text-decoration: none
    color: var(--text-color)

    flex-basis: 24%

    margin-bottom: 10px

    @media screen and (max-width: 1200px)
        flex-basis: 32%

    @media screen and (max-width: 768px)
        flex-basis: 49%

    @media screen and (max-width: 600px)
        flex-basis: 100%

    .card
        @media screen and (min-width: 600px)
            min-height: 34rem

        // @media screen and (min-width: 768px)
        //     min-height: 34rem

        @media screen and (min-width: 1000px)
            min-height: 30rem

        @media screen and (min-width: 1200px)
            min-height: 28rem

        margin-right: 0.8rem

        cursor: pointer

        border-radius: 10px
        overflow: hidden

        background: var(--bg)

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

        transition: transform 0.2s ease, box-shadow 0.2s ease

        &:hover
            transform: translateY(-10px)
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)

        .thumbnail
            background-size: cover
            background-position: center

            height: 250px

            @media screen and (max-width: 1200px)
                height: 300px

            @media screen and (max-width: 768px)
                height: 350px

            @media screen and (max-width: 600px)
                height: 400px

        .information
            padding: 10px 10px 15px

            .title
                font-size: 1.2em
                margin-bottom: 10px

                .date
                    display: inline-block

                    font-weight: normal
                    font-size: 0.8em

                    background: var(--secondary)
                    border-radius: 15px

                    padding: 4px 8px
                    margin-left: 10px
                    margin-top: -4px

            .subtitle
                margin-bottom: 15px
