.projectDetails
    // padding: 120px 60px

    // @media screen and ( max-width: 640px)
    //     padding: 80px 20px

    // display: flex
    // flex-direction: column
    // justify-content: flex-start
    // align-items: flex-start

    // line-height: 1.2em

    // height: auto

    .slider
        // max-height: 50vh
        padding-top: 60px

        .image
            height: 70vh
            background-size: cover
            background-position: center
            background-repeat: no-repeat

            @media screen and ( max-width: 1000px)
                height: 50vh

            @media screen and ( max-width: 840px)
                height: 40vh

            @media screen and ( max-width: 576px)
                height: 30vh


    .title
        font-size: 1.8em
        font-weight: 700

    .subtitle
        font-size: 1.2em
        font-weight: 500
        font-style: italic

    .text
        font-size: 1em
        font-weight: 500

        margin-top: 20px
        margin-bottom: 20px

        max-width: 900px

    & > *
        margin-bottom: 10px

    .storeLinks
        margin-top: 20px

        display: flex
        flex-direction: row
        align-items: center

        @media screen and ( max-width: 640px)
            flex-direction: column
            width: 100%

        .appleAppStoreBadge
            width: 200px
        .googlePlayStoreBadge
            width: 260px
