:root
    --bg: #1f1f1f
    --text-color: #f0f0f0

    --navbar-bg: #111
    --navbar-icon-bg: #f0f0f0

    --card-border-highlight: #b1b1b1

    --border: #c1cfdd
    --border-highlight: #3c9cac

    --button-bg-highlight: #973dc2
    --button-border: black
    --button-border-highlight: #973dc2
    --button-text-color: black
    --button-text-color-highlight: white

    --tag-bg: #973dc2
    --tag-text-color: white
    --tag-secondary-bg: #3c9cac
    --tag-secondary-text-color: white

    --slider-dot: black
