:root
    --bg: #22262d
    --text-color: #d0ddf5

    --card-bg: #22262d

    --border: #3e4551
    --border-highlight: #6b1e8f

    --button-bg-highlight: #6b1e8f
    --button-border: #6b1e8f
    --button-text-color: #d0ddf5

    --tag: black
    --tag-bg: #6b1e8f
    --tag-color-light: white
    --tag-secondary-bg: #28886d

    --slider-dot: white
