.slick-slide
    & > div
        @media screen and ( min-width: 700px)
            border: solid 10px var(--bg)



.slick-arrow
    height: 40px
    width: 40px

    &::before
        border-radius: 10px
        background: black
        content: '→'
        position: absolute
        left: 0
        top: 0

        font-size: 32px
        padding: 5px 5px 3px

    &.slick-next
        right: 20px

    &.slick-prev
        left: 20px

        &::before
            content: '←'

    z-index: 1

.slick-dots
    margin-top: 10px
    bottom: -35px

    @media screen and ( max-width: 600px)
        bottom: -75px

    li
        button
            &::before
                font-size: 18px
                color: var(--slider-dot)

    li.slick-active
        button
            &::before
                color: var(--slider-dot)
