.projectDetails
    padding: 100px 60px 120px 60px

    width: 100%
    max-width: 1000px

    overflow: hidden

    @media screen and ( max-width: 640px)
        padding: 100px 0px

    .information
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start

        padding: 20px 0

        @media screen and ( max-width: 1000px)
            padding: 20px

        .title
            font-size: 1.8em
            font-weight: 700
            margin-bottom: 10px

        .subtitle
            font-size: 1.2em
            font-weight: 500
            font-style: italic
            margin-bottom: 10px

        .descriptionItems
            margin-top: 20px

            .descriptionItem
                font-size: 1em
                line-height: 1.4em
                font-weight: 500

                margin-top: 8px

                max-width: 900px

    .sectionTitle
        font-size: 1.3em
        padding: 20px 0

        @media screen and ( max-width: 1000px)
            padding-left: 20px

    .bullets
        padding: 0 35px 10px 25px

        @media screen and ( max-width: 1000px)
            padding: 0 35px

        .bullet
            line-height: 1.5em

    .externalLinks
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        width: 100%

        @media screen and ( max-width: 1000px)
            padding: 0 20px

    .video
        height: 600px
        width: 100%
        margin-bottom: 30px

        @media screen and ( max-width: 640px)
            height: 30vh

        iframe
            width: 100%
            height: 100%

            @media screen and ( min-width: 1000px)
                border-radius: 15px
