.navbar
    position: fixed

    background-color: var(--bg)

    z-index: 1

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    width: 100%
    height: 60px
    padding: 0 15px

    border-bottom: solid 1px var(--border-light)
    box-sizing: border-box

    .titleLink
        text-decoration: none
        color: var(--text-color)

        .title
            font-size: 1.2em
            font-weight: 700

    .icons
        display: flex
        flex-direction: row

        .icon
            & + .icon
                margin-left: 10px
            .iconImage
                height: 30px
